@font-face {
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
}

.main-pane {
    -fx-pref-width: 1000;
    -fx-pref-height: 500;
}

.menu-pane{
    -fx-pref-width: 200;
    -fx-pref-height: 500;
    -fx-background-color: #4657a1;
}

.menu-buttons {
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-background-color: #4657a1;
    -fx-border-color: #4657a1;
}

.welcome-pane {
    -fx-pref-width: 800;
    -fx-pref-height: 350;
    -fx-background-color: #ffffff;
}

.control-pane {
    -fx-pref-width: 800;
    -fx-pref-height: 350;
    -fx-background-color: #ffffff;
}

.header-label {
    -fx-font-size: 28;
    -fx-font-family: 'Montserrat Bold', sans-serif;
    -fx-text-fill: #4657a1;
    -fx-font-smoothing-type: gray;
}

.control-labels {
    -fx-text-fill: #333333;
    -fx-font-size: 17;
    -fx-font-family: 'Montserrat Regular', sans-serif;
    -fx-font-smoothing-type: gray;
}

.result-pane {
    -fx-pref-width: 800;
    -fx-pref-height: 150;
    -fx-background-color: #f5f7ff;
}

.result-label {
    -fx-pref-width: 800;
    -fx-alignment: center;
    -fx-font-size: 28;
    -fx-text-fill: #4657a1;
    -fx-font-family: 'Montserrat Bold', sans-serif;
    -fx-font-smoothing-type: gray;
}

.user-selection {
    -fx-pref-width: 225;
    -fx-pref-height: 40;
    -fx-border-color: #cbd5e1;
    -fx-background-color: #ffffff;
    -fx-font-size: 16;
    -fx-font-family: 'Montserrat Regular', sans-serif;
    -fx-font-smoothing-type: gray;
}

.user-selection .context-menu {
    -fx-background-color: #f5f7ff;
}

.user-selection .menu-item .label {
    -fx-font-size: 16;
    -fx-font-family: 'Montserrat Regular', sans-serif;
    -fx-font-smoothing-type: gray;
}

.user-selection .menu-item:focused{
    -fx-background-color: #4657a1;
}

.convert-button {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: #4657a1;
    -fx-border-color: #4657a1;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-family: 'Montserrat Regular', sans-serif;
    -fx-font-smoothing-type: gray;
}

.convert-button:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.current-value {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-border-color: #cbd5e1;
    -fx-background-color: #ffffff;
    -fx-font-size: 16;
    -fx-font-family: 'Montserrat Regular', sans-serif;
    -fx-font-smoothing-type: gray;
}

.font-icon {
    -fx-fill: #ffffff;
}

.font-icon:pressed{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.font-icon:hover{
    -fx-fill: #ebebeb;
}